PORT=5000
MONGODB_URI=mongodb://localhost:27017/legalhub
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dh6xm6vgo
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=Hw0pxBFh2yGhcQwzfFUHhWSOQ_A
